# Required: Honeycomb API key. Find one at https://ui.honeycomb.io/teams (click on "Settings")
#export HONEYCOMB_API_KEY=f425aaaa560bb65f30c9061c88c3f611

# Optional: Service name (opentelemetry standard field). Can be any string
#export OTEL_SERVICE_NAME=sequence-of-numbers-python
